// Tools
@use '../../styles/utils/vars' as v;
@use '../../styles/utils/mixins' as m;

.card {
  background: rgba(255,255,255,0.35);
  border: 2px solid rgba(255,255,255,0.35);
  border-radius: v.$sp_50;
  padding: v.$sp_20;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: v.$sp_10;
}

.container__input {
  @include m.clickable;
}

.container__btn {
  @include m.flex;
  gap: v.$sp_10;
}

/* fade-in */
.signin {
  opacity: 0;
  animation: signin-fadeIn 1.5s ease-out forwards;
}

@keyframes signin-fadeIn {
  to { opacity: 1; }
}
