// Tools
@use '../../styles/utils/vars' as v;
@use '../../styles/utils/mixins' as m;

.container {
    border: 2px solid green;
    border-radius: v.$sp_50;
    @include m.flex(column, space-around);
    gap: v.$sp_20;
    max-width: v.$sp_500;
    width: 100%;
    min-height: auto;
    display: none;

    &__input {
        @include m.clickable;

    }

    &__btn {
    @include m.flex;
    gap: v.$sp_10;
    }
}

.sign-btn,
.submit,
.white {
    @include m.clickable;
    @include m.hover;
    border: none;
    font-size: v.$sp_16;
    border-radius: v.$sp-20;
    width: v.$sp_100;
    height: v.$sp_50;
    margin: 0 0 v.$sp_10 0;
}

.submit {
    color: inherit;
    background-color: v.$clr-1;

}

.white {
    background: v.$clr-txt;
    color: v.$clr-bg;
}
