// Tools
@use '../../styles/utils/vars' as v;
@use '../../styles/utils/mixins' as m;

.container {
    @include m.flex(column);
    min-height: 100vh;
    width: 100%;
    background-color: v.$clr-bg;
    margin: 0;
    padding: 0;
}
