// ------------------------------------------------------
// Spaces
// ------------------------------------------------------

// Negative spacing
$sp-10: -1.0rem;
$sp-9:  -0.9rem;
$sp-8:  -0.8rem;
$sp-7:  -0.7rem;
$sp-6:  -0.6rem;
$sp-5:  -0.5rem;
$sp-4:  -0.4rem;
$sp-3:  -0.3rem;
$sp-2:  -0.2rem;
$sp-1:  -0.1rem;

// Positive spacing
$sp_01: 0.1rem;  // 1px
$sp_02: 0.2rem;  // 2px
$sp_03: 0.3rem;  // 3px
$sp_04: 0.4rem;  // 4px
$sp_05: 0.5rem;  // 5px
$sp_06: 0.6rem;  // 6px
$sp_07: 0.7rem;  // 7px
$sp_08: 0.8rem;  // 8px
$sp_09: 0.9rem;  // 9px
$sp_10: 1.0rem;  // 10px
$sp_11: 1.1rem;  // 11px
$sp_12: 1.2rem;  // 12px
$sp_13: 1.3rem;  // 13px
$sp_14: 1.4rem;  // 14px
$sp_15: 1.5rem;  // 15px
$sp_16: 1.6rem;  // 16px
$sp_17: 1.7rem;  // 17px
$sp_18: 1.8rem;  // 18px
$sp_19: 1.9rem;  // 19px
$sp_20: 2.0rem;  // 20px
$sp_21: 2.1rem;  // 21px
$sp_22: 2.2rem;  // 22px
$sp_23: 2.3rem;  // 23px
$sp_24: 2.4rem;  // 24px
$sp_25: 2.5rem;  // 25px
$sp_26: 2.6rem;  // 26px
$sp_27: 2.7rem;  // 27px
$sp_28: 2.8rem;  // 28px
$sp_29: 2.9rem;  // 29px
$sp_30: 3.0rem;  // 30px
$sp_31: 3.1rem;  // 31px
$sp_32: 3.2rem;  // 32px
$sp_33: 3.3rem;  // 33px
$sp_34: 3.4rem;  // 34px
$sp_35: 3.5rem;  // 35px
$sp_36: 3.6rem;  // 36px
$sp_37: 3.7rem;  // 37px
$sp_38: 3.8rem;  // 38px
$sp_39: 3.9rem;  // 39px
$sp_40: 4.0rem;  // 40px
$sp_41: 4.1rem;  // 41px
$sp_42: 4.2rem;  // 42px
$sp_43: 4.3rem;  // 43px
$sp_44: 4.4rem;  // 44px
$sp_45: 4.5rem;  // 45px
$sp_46: 4.6rem;  // 46px
$sp_47: 4.7rem;  // 47px
$sp_48: 4.8rem;  // 48px
$sp_49: 4.9rem;  // 49px
$sp_50: 5rem;  // 50px
$sp_100: 10rem;  // 100px
$sp_500: 50rem;  // 500px
$sp_960: 96rem; // 960px
$sp_1200: 120rem; // 1200px
// ------------------------------------------------------
// Radius
// ------------------------------------------------------

$rd_0: 0;
$rd_2: 0.2rem;  // 2px
$rd_4: 0.4rem;  // 4px
$rd_8: 0.8rem;  // 8px
$rd_12: 1.2rem; // 12px
$rd_16: 1.6rem; // 16px
$rd_round: 999rem; // pill / circle

// ------------------------------------------------------
// Colors
// ------------------------------------------------------

$clr-bg: rgb(48, 13, 104);
$clr-border: red;
$clr-txt: #e5e7eb;
$clr-1: green;

// ------------------------------------------------------
// Fonts
// ------------------------------------------------------

$ft-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
// $ft-heading: ;

// ------------------------------------------------------
// Shadows
// ------------------------------------------------------
$shw-soft: 0 8px 20px rgba(0, 0, 0, 0.35);
