.opponents-background {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opponents-div {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card-container {
    border: 1px solid black; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: clamp(220px, 50vw, 100px);
    display: inline-block;
    overflow: hidden;
}

.card-container > p {
    margin: 10px;
    
}
.card-container > p::first-letter {
    font-size: 25px;
}

.card-container:hover {
    transform: scale(1.05);
    /* opacity: 80%; */
    background-color: rgb(79, 40, 119);
}
.card-container.selected {
    transform: scale(1.1);
    opacity: 100%;
    background-color: rgb(90, 45, 135);
}

.img-character {
    max-width: 60%;
    height: auto;
    border-radius: 15%;
    margin-bottom: 10px;
}

/* .btn-startgame.selected {
    
} */

@media (max-width: 1510px) {
    .card-container {
        transform: scale(0.8);
        margin: 0px;
    }
    .card-container:hover {
        transform: scale(0.85);
        background-color: rgb(79, 40, 119);
    }
    .card-container.selected {
        transform: scale(0.85);
        background-color: rgb(90, 45, 135);
    }
}

@media (max-width: 1333px) {
    .opponents-div {
        max-width: 70%;
    }
}

@media (max-width: 765px) {
    .opponents-div {
        max-width: 100%;
    }
}

@media (max-width: 530px) {
    .card-container {
        transform: scale(1);
        margin: 20px;
    }
    .card-container:hover {
        transform: scale(1.05);
        background-color: rgb(79, 40, 119);
    }
    .card-container.selected {
        transform: scale(1.05);
        background-color: rgb(90, 45, 135);
    }
}