.opponents-background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container {
    border: 1px solid black; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box; /* ? */
    overflow: hidden;
    
}
/* .card-container > p {
    margin: 10px;
    text-align: left;
} */
.card-container > p::first-letter {
    font-size: 25px;
}
/* .card-container > p > span {
    
    font-size: 20px;
    
} */
.card-container:hover {
    transform: scale(1.05);
    /* opacity: 80%; */
    background-color: rgb(79, 40, 119);
}
.card-container.selected {
    transform: scale(1.1);
    opacity: 100%;
    background-color: rgb(90, 45, 135);
}

.img-character {
    max-width: 60%;
    height: auto;
    border-radius: 15%;
    margin-bottom: 10px;
}

.opponents-div {
    max-width: fit-content;
    width: 100%;
    /* min-height: 60%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* .btn-startgame {
    margin-top: 30px;
} */