.opponents-background {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opponents-div {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card-container {
    border: 1px solid black; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: clamp(220px, 50vw, 100px);
    display: inline-block;
    overflow: hidden;
    background-color: #008baf;
    background-color: #71abed;
    background-color: #64bcf6;
}

.card-container > p {
    margin: 10px;
    
}
.card-container > p::first-letter {
    font-size: 25px;
}

.card-container:hover {
    transform: scale(1.05);
    background-color: #8dc2ff;
    background-color: rgb(98, 181, 237);
    background-color: #64bcf6;
}
.card-container.selected {
    transform: scale(1.1);
    opacity: 100%;
    
    animation: bounce 380ms ease-out;
    background-color: #fdf497;
    background-color: #bcdfc6;
    background-color: #8dc2ff;
    background-color: #83e8d9;
}
.card-container:active {
    
}

.img-character {
    max-width: 60%;
    height: auto;
    border-radius: 15%;
    margin-bottom: 10px;
}

/* .btn-startgame.selected {
    
} */

@keyframes bounce {
  0%   { transform: scale(1); }
  50% { transform: scale(1.2);}
  100% { transform: scale(1.1); }
}

@media (max-width: 1510px) {
    .card-container {
        transform: scale(0.8);
        margin: 0px;
    }
    .card-container:hover {
        transform: scale(0.85);
        background-color: #8dc2ff;
        background-color: #64bcf6;
        
    }
    .card-container.selected {
        transform: scale(0.85);
        background-color: #8dc2ff;
        background-color: #bcdfc6;
        background-color: #83e8d9;
        animation: bounce2 380ms ease-out;
    }
}
@keyframes bounce2 {
  0%   { transform: scale(0.8); }
  50% { transform: scale(1);}
  100% { transform: scale(0.85); }
}

@media (max-width: 1333px) {
    .opponents-div {
        max-width: 70%;
    }
}

@media (max-width: 765px) {
    .opponents-div {
        max-width: 100%;
    }
}

@media (max-width: 530px) {
    .card-container {
        transform: scale(1);
        margin: 20px;
    }
    .card-container:hover {
        transform: scale(1.05);
        background-color: #8dc2ff;
        background-color: #64bcf6;
    }
    .card-container.selected {
        transform: scale(1.05);
        background-color: #8dc2ff;
        background-color: #bcdfc6;
        background-color: #83e8d9;
        animation: bounce3 380ms ease-out;
    }
}
@keyframes bounce3 {
  0%   { transform: scale(1); }
  50% { transform: scale(1.15);}
  100% { transform: scale(1.1); }
}