@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body { 
    font-family: 'Bangers', sans-serif;
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /* min-height: 100vh; */
    }

.game-title { 
    font-family: 'Bangers', sans-serif;
    font-size: 3rem;
    color: yellow;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;

}


