@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body { 
    font-family: 'Bangers', sans-serif;
    color: yellow;
    }

.game-title { 
    font-family: 'Bangers', sans-serif;
    font-size: 3rem;
    color: yellow;

}

.bgimage {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}